*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


html{
  box-sizing: border-box;
}

header{
  padding: 0.1px;
  background-color: #b9b9b9;
}

aside{
  width: 25%;
  float:right;
  border-left: 1px solid white;
  display: flexbox;
}


footer{
  clear:both;
  text-align: center; 
  background-color:black;
  color: #e0e0e0;
  margin-top: 8rem;
}

body{
  font-family:monospace;
}

/* cositas de Inicio */

.gif-inicio{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion-inicio{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navegacion-inicio .logo{
  width: 250px;
}

.navegacion-inicio ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px ;
}

.navegacion-inicio ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.navegacion-inicio ul li a:hover{
  color: #fed136;
}

.contenido-inicio{
  text-align: center;
}

.contenido-inicio h1{
  font-size: 130px;
  color: #fff;
  font-weight: 600;
}

.boton {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.boton:hover{
  color: #fed136;
  border: 2px solid #fed136;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* responsive para el video */

@media (min-aspect-ratio: 16/9){
  .back-video{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video { 
      width:auto;
      height: 100%;
  }
}

@media (max-width: 767px) {
  .back-video {
      display: none;
  }
  body .inicio{
      background: url('./imagenes/inicio-imagen.png');
      background-size: cover;
  }
}


/* responsive para el body */

@media (max-aspect-ratio: 16/9) {

  .navegacion-inicio{
      flex-direction: column;
      align-items: center;
  }

  .contenido-inicio h1{
      font-size: 100px;
  }

}

@media (max-width: 640px) {

  .contenido-inicio h1{
      font-size: 50px;
  }

  .boton {

      font-size: 15px;
      border: 1px solid #fff;
      padding: 10px 40px;
      border-radius: 30px;
      margin-top: 15px;
  }

}

/* fin de las cositas de Inicio */

/* cositas de la clase Sobre Nosotros */

.cabecera{
  justify-items: center;
  align-items: center;
}

.conteiner {
  width: 100%;
  max-width: 10000px;
  background-color: black;       
}

.direccion {
  font-size: 1.2em;
}

.fast {
  background-image: url(./imagenes/ropaFast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9em;
  margin: 2em;
  position: relative;
}


/* Opacidad de una imagen con css */

.contfast{
  position: absolute;   
  background-color: rgba(0, 0, 0, .6);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fast p{
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 60px;
  margin: 0.65em;
  padding: 59px;
  font-family: 'Krub', sans-serif;
  color: white;
}

.texto p{
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  padding: 1em;
  margin-left: 5em;
  margin-right: 20em;
  text-align: justify;
}

.texto div{
  margin-left: 60em;
}

.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navegacion ul li{
  display: flexbox;
}

.navegacion ul li a {
  align-items: center;
  color: white;
  justify-content: space-between;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}

.navegacion ul li a:hover {
  background:rgb(179, 177, 177);
}

@media (min-width: 640px) {

  .navegacion ul li{
      display: inline-block;
  }

}

/* fin de cositas de la clase Sobre Nosotros */

/* cositas de pokey */

.btncat{
  position: relative;
}

.btncat .precio{
  margin-top: 1rem;
}

.btncat .precio span{
  font-weight: bold;
}

.boton-catalogo{
  display: inline-block;
  padding: 10px 25px;
  background: #000;
  color: floralwhite;
  border: 2px solid floralwhite;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  border-radius: 30px;
  margin-left: -50px;
  position: absolute;
}

.popup{
  width: 300px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  top: 10%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #000;
  position: absolute;
  z-index: 9;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

/* .popupMedio{
  left: 90%;
  color: #48e;
} */

.open-popup{
  visibility: visible;
}


.popup svg{
  width: 60px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: #Ffbd59;
}

.popup h2{
  padding: 1rem;
}

.popup button{
  width: 100%;
  margin-top: 2rem;
  padding: 10px 0;
  background: #000;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.logo-pokey img{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-body{
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

.productos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  justify-content: space-evenly;
  margin-right: 2rem;
}

.producto{
  display: flex;
  flex-direction: column;
}

.descripcion-producto{
  padding: 1rem;
}


.publicidad{
  display: flex;
  flex-direction: column;
}

ul, ol {
  list-style:none;
}

.navegacion {
  width:500px; /*Le establecemos un ancho*/
  margin:0 auto; /*Centramos automaticamente*/
  display:flex;
  justify-content: center;
  text-align: center;
}

.navegacion > li {
  float:left;
}

.navegacion li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
}

.navegacion li a:hover {
  background-color:#434343;
}

.imagen-producto:hover{
  transform: scale(1.1, 1.1);
}

@media (max-width: 680px) {

  .flex-body{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .productos{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .publicidad{
      margin-top: 2rem;
  }


}

/*  fin cositas de pokey */

/* login */

.login-logo img{
  width: 400px;
  margin-top: 20px;
}

section{
  width: 100%;
  float: left;
  background-color: #e0e0e0; 
}

*{
padding: 0;
margin: 0;
font-family:monospace;
text-align: center;
}

body{
  width: 100%;
  height: 400px;
  background-position: center;
  background-color: rgb(219, 214, 214);
  background-size: 100%;
  background-attachment: fixed;

}


form {
padding: 50px 20px;
margin: calc(25% + 100px);
margin-top: 70px;
padding-top: 28px;
margin-bottom: 30px
}

h1 {
text-align: center;
padding: 12px;
color: black;
}

input {
width: calc(100% - 5px);
padding: 9px;
margin: auto;
margin-top: 12px;
font-size: 16px
}

input[type='submit']{
background-color: #48e;
color: #fff;
width: calc(80% - 20px);
margin: 0 10%;
margin-top: 22px;
border: none;
  display: block;
}

.formulario{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media(min-width: 650px) {
  
  .formulario h1{
      margin:  100px;
  }

}


@media(min-width: 150px) {

  .formulario h1{
      margin:  100px;
  }
}

/* integrantes */

section{
  width: 100%;
  float: left;
  background-color: #e0e0e0; 
}

.flex-container {
  margin-top: 2rem;
display: flex;
justify-content: center;
align-items: center;

}
.flex-container1 {
  display: flex;
  background-color: rgb(224, 224, 224);
  justify-content: center;
  align-items: center;
  }
  
.flex-itemi {
    line-height: 10px;
    margin: 10px;
}
.texto p1{
  font-family: 'Krub', sans-serif;
  font-size: 30px;
  padding: 1em;
  margin-left: 7em;
  margin-right: 10em;
  color:rgb(236,62,62);
}
/*Titulo col 1*/
.flex-item1 {
  background-color: white;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
}  

.flex-item3 {
  background-color: rgb(135, 135, 180);
  width: 200px;
  height: 210px;
  margin: 10px;
  text-align: center;
  
  }

.flex-item2 {
  background-color: rgb(135, 135, 180);
  width: 230px;
  height: 960px;
  line-height: 10px;
  }
  
/*Titulo col 2*/
.flex-item4 {
  background-color: white;
  width: 380px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  
  }
  

/*Col 2*/
.flex-item5 {
background-color: rgb(135, 135, 180);
width: 400px;
height: 960px;
line-height: 10px;
text-align: center;
}

/*Contenido col1*/
.flex-item6 {
  background-color: rgb(116, 156, 209);
  width: 380px;
  height: 210px;
  margin: 9px;
  text-align: left;
  line-height: 30px;
  }
  


@media (max-width: 640px) {

  .flex-container {
      flex-direction: column;
  }

}

/* factura */


.form-sesion form {
  width: 80%;
  margin: 0 auto;
}

.form-sesion label,
.form-sesion input {
/* In order to define widths */
display: inline-block;
}

.form-sesion label {
width: 30%;
/* Positions the label text beside the input */
text-align: right;
}

.form-sesion label+input {
width: 30%;
/* Large margin-right to force the next element to the new-line
          and margin-left to create a gutter between the label and input */
margin: 0 30% 0 4%;
}


/* Only the submit button is matched by this selector,
      but to be sure you could use an id or class for that button */

.form-sesion input+input {
float: right;
}

.texto-login{
  margin-top: 1rem;
}

.texto-login a{
  text-decoration: none;
  color: #Ffbd59;
}

.logo {
  margin: 0 auto;
  width: auto;
  height: auto;
  border: none;
  fill: #Ffbd59;
}

.logoholder img{
  width: 300px;
}

.me {
  width: 30%;
  margin-top: 8rem;
}

.info {
  width: 30%;
  margin-top: 8rem;
}

.info a{
  text-decoration: none;
  color: #000;
}

.bank {
  width: 26%;
  margin-top: 8rem;
}

.section {
  margin: 1rem 0 0;
  background-color: gray;
}

.smallme {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
  font-size: .9rem
}

.client {
  margin: 0 0 3rem 0
}


.details input {
  display: inline;
  margin: 0 0 0 .5rem;
  border: none;
  width: 50px;
  min-width: 0;
  background: transparent;
  text-align: left
}


.invoice_detail{
border: solid 1px #Ffbd59;
padding:10px;
height:25px;
text-align:center
}

.rate:before,
.price:before,
.sum:before,
.tax:before,
#total_price:before,
#total_tax:before {
  content: '$'
}

.invoicelist-body {
  margin: 1rem
}

.invoicelist-body table {
  width: 100%
}

.invoicelist-body thead {
  text-align: left;
  border-bottom: 1pt solid #666
}

.invoicelist-body td,
.invoicelist-body th {
  position: relative;
  padding: 1rem
}

.invoicelist-body tr:nth-child(even) {
  background: #ccc
}

.invoicelist-body tr:hover .removeRow {
  display: block
}

.invoicelist-body input {
  display: inline;
  margin: 0;
  border: none;
  width: 80%;
  min-width: 0;
  background: transparent;
  text-align: left
}

.invoicelist-body .control {
  display: inline-block;
  color: black;
  background: #Ffbd59;
  padding: 3px 7px;
  font-size: .9rem;
  text-transform: uppercase;
  cursor: pointer
}

.invoicelist-body .control:hover {
  background: #f36464
}

.invoicelist-body .newRow {
  margin: .5rem 0;
  float: left
}

.invoicelist-body .removeRow {
  display: none;
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: -1.3rem;
  font-size: .7rem;
  border-radius: 3px 0 0 3px;
  padding: .5rem
}

.invoicelist-footer {
  margin: 1rem
}

.invoicelist-footer table {
  float: right;
  width: 25%
}

.invoicelist-footer table td {
  padding: 1rem 2rem 0 1rem;
  text-align: right
}

.invoicelist-footer table tr:nth-child(2) td {
  padding-top: 0
}

.invoicelist-footer table #total_price {
  font-size: 2rem;
  color: #Ffbd59;
}

.note {
  margin: 1rem
}

.hidenote .note {
  display: none
}

.note h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold
}


.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem
}



.group:after,
.row:after,
.invoicelist-footer:after {
  content: "";
  display: table;
  clear: both
}


.row {
  margin-top: 0.9rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0;
  background-color: #C3b7a3; 
}

.row-2{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0;
  background-color: var(--gris);
  padding: 1rem;
}

.col,
.logoholder,
.me,
.info,
.bank,
[class*="col-"] {
  vertical-align: top;
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem;
  min-height: 1px
}

.col-4 {
  width: 25%
}

.col-3 {
  width: 33.33%
}

.col-2 {
  width: 50%
}

.col-2-4 {
  width: 75%
}

.col-1 {
  width: 100%
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.control-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #009688;
  color: white;
  line-height: 4rem;
  height: 4rem
}

.control-bar .slogan {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 2rem
}

.control-bar label {
  margin-right: 1rem
}

.control-bar a {
  margin: 0;
  padding: .5em 1em;
  background: rgba(255, 255, 255, 0.8)
}

.control-bar a:hover {
  background: #fff
}

.control-bar input {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  padding: .5rem 0;
  max-width: 30px;
  text-align: center
}

.control-bar input:hover {
  background: rgba(255, 255, 255, 0.3)
}

.hidetax .taxrelated {
  display: none
}

.showtax .notaxrelated {
  display: none
}

.hidedate .daterelated {
  display: none
}

.showdate .notdaterelated {
  display: none
}
